A:link {    FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Arial, tahoma; TEXT-DECORATION: underline}
A:visited {    FONT-SIZE: 12px; COLOR: #006699;FONT-FAMILY: Arial, tahoma; TEXT-DECORATION: underline}
A:hover {    FONT-SIZE: 12px; COLOR: #ff9933; FONT-FAMILY: Arial, tahoma; TEXT-DECORATION: underline}
A:active {    FONT-SIZE: 12px; COLOR: #800080; FONT-FAMILY: Arial, tahoma; TEXT-DECORATION: underline}
.t1{font-family:Arial, 宋体;font-size:16pt;color:#000; font-weight:bold;}
.t2{font-family:Arial, 宋体;font-size:24pt;color:#000; font-weight:bold;}
.t3{font-family:Arial, 宋体;font-size:12pt;color:#000; font-weight:bold;}
.endline{font-family:Arial, 宋体;color:#000;font-size:10pt; }
BODY {MARGIN: 15px}
#rootdiv {  FONT-SIZE: 10pt;   LINE-HEIGHT: 15pt;   FONT-FAMILY: "Arial", "tahoma";}
.sub_title {   FONT-WEIGHT: bold;  FONT-SIZE: 11pt;  LINE-HEIGHT: 20pt;   FONT-FAMILY: "Arial", "tahoma";}
.sub_title_1 {  FONT-SIZE: 11pt;  LINE-HEIGHT: 20pt;}
.sub_title_2 {   FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  LINE-HEIGHT: 20pt;}
